* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: rgb(2, 24, 47);
    color: rgb(204, 231, 255);
}

main {
    margin: 1rem;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 0.5rem;
}

h4 {
    margin-top: 2rem;
    margin-bottom: 0.6rem;
}

li {
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    font-style: italic;
}

a {
    color: rgb(111, 84, 246);
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    background-color: rgb(40, 98, 145); 
    text-align: center;
    padding: 1rem;
    border: 1px solid #050096
}

.backer {
    color: rgb(152, 194, 231);
    text-transform: capitalize;
    text-align: center;
}

.obs {
    text-align: center;
}

.mainnormal {
    text-align: justify;
    padding: 0rem;
}

.pnormal {
    margin-top: 0.5rem;
    padding-bottom: 0.7rem;
}

.sectionnormal {
    padding-bottom: 1.2rem;
    margin-top: 1rem;
}

.ulmenu {
    border: 2px solid #050096;
    margin: 1rem;
    border-radius: 1rem;
    background-color: rgb(162, 181, 198);
}

.lijust {
    padding: 0rem;
}

.titulonormal {
    padding-bottom: 1.2rem;
}